.footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);  
  color: #00ffe1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 1rem;
}

footer a, footer span {
  text-shadow: 0 0 4px #000;
  color: #fff;
  font-weight: bold;
}

footer a:hover {
  color: #00ffe1;
}
