.resume-section {
  text-align: center;
  color: #fff;
  background: transparent;
  /* padding: 2rem 0.5rem; */
  max-width: 800px;
  /* margin: 0 auto; */
  font-family: serif;
}

section, #resume, .resume-section{
  margin: none;
  padding: none;
}

#resume{
  background: transparent;
  max-width: 800px;
}

.resume-section h2 {
  font-size: 2.5rem;
  color: darkmagenta;
  /* margin-bottom: 1rem; */
}

.resume-section .resume-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-top: 2rem; */
}

.resume-section .btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #00ffe1;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-section .btn:hover {
  background-color: #00a3a3;
}
