* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/imgsVids/Portfolio.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -9999;
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/imgsVids/PortfolioLogo.png');
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  object-fit: cover !important;
  z-index: -2;
  opacity: 0.3;
}

section {
  width: 100%;
  max-width: 1200px;
  /* margin: 0 auto; */
  /* padding: 2rem 0; */
  box-sizing: border-box;
  border-radius: 16px;
  background: transparent;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #00ffe1;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00a3a3;
  color: #fff;
}

h1 {
  background: transparent;
  color: #00ffe1;
}

h2{
  background: transparent;
  color:darkorange;
}

h3{
  background: transparent;
  color: crimson;
}

p {
  background: transparent;
  color: #ffb3ec;
}

a {
  text-decoration: none;
  color: #00ffe1;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}

  @media (min-width: 1025px) {
      .hamburger-icon, .close-icon { display: none !important; }
   }

@media (max-width: 768px) {
  section {
    background: transparent;
    /* padding: 3rem 1rem; */
  }
}
